<div class="footer-wrap">
    <footer>
        小棠妹儿&nbsp;&nbsp;&nbsp;&nbsp;邮箱:linkjane@163.com&nbsp;&nbsp;&nbsp;&nbsp;QQ:134297097
    </footer>
</div>
<script src="/lib/jquery-2.1.4.min.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/javascripts/ngPlugin.js"></script>