@charset "UTF-8";*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(255,255,255,0);font-family:Arial,PingFang SC,'Microsoft Yahei','微软雅黑',SimHei,Helvetica,Simsun,'宋体';outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}ul,li{list-style:none}a:active,a:hover,a:link,a:visited{text-decoration:none}html,body{width:100%;height:100%;font-size:20px;background-color:#fff}img{width:100%;border:0;vertical-align:middle}.header-wrap{width:100%;min-width:1000px;background-color:#eef4ed;margin-bottom:40px;padding:0 10px}.header-wrap header{margin:0 auto;display:block;width:980px;height:74px;line-height:74px;white-space:nowrap;text-transform:capitalize}.header-wrap header .logo{float:left;width:180px;height:30px;margin:22px 13px 22px 0;background:url(/images/logo.png) no-repeat center;background-size:cover;text-indent:-9999px}.header-wrap header .search{float:left;margin:21px 14px;display:inline-block;width:250px;padding-right:30px;height:32px;position:relative;border:1px solid #e1e9e1;overflow:hidden;background-color:#fff}.header-wrap header .search input[type=text]{float:left;width:100%;height:30px;line-height:30px;padding:5px 0 5px 8px;background-color:transparent;border:0}.header-wrap header .search .submit{width:30px;height:30px;position:absolute;right:0;text-indent:-9999px;background:url(/images/bn_srh.png) no-repeat center}.header-wrap header .nav{float:left;font-size:16px;height:74px;line-height:74px}.header-wrap header .nav li{height:30px;line-height:30px;display:inline-block}.header-wrap header .nav li a{display:block;padding:0 13px}.header-wrap header .nav li a:hover{background-color:#bee1c6;color:#fff}.header-wrap header .nav li a.selected{background-color:#e3f0e6}.header-wrap header .loginStatus{float:right;height:74px}.header-wrap header .loginStatus a{margin:0 8px;color:#072;vertical-align:middle}.header-wrap header .loginStatus a:hover{color:#fff;background-color:#072}.header-wrap header .loginStatus .loginbar{display:none}.header-wrap header .loginStatus .loginbar.show{display:block}.header-wrap header .loginStatus .logoutbar{display:none;position:relative}.header-wrap header .loginStatus .logoutbar a,.header-wrap header .loginStatus .logoutbar span{vertical-align:middle}.header-wrap header .loginStatus .logoutbar.show{display:block}.header-wrap header .loginStatus .logoutbar .account:after{content:'';display:inline-block;border:5px solid #2a8c70;border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent}.header-wrap header .loginStatus .logoutbar .moreNavItem{position:absolute;padding:10px 0;z-index:10000;top:50px;left:0;background-color:#fff;line-height:28px;border:1px solid #e6e6e6;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;display:none}.header-wrap header .loginStatus .logoutbar .moreNavItem.show{display:block}.header-wrap header .loginStatus .logoutbar .moreNavItem ul li{display:block;line-height:28px}.header-wrap header .loginStatus .logoutbar .moreNavItem ul li a{margin:0;display:block;min-width:120px;height:28px;line-height:28px;text-align:center;color:#3d3d3d}.header-wrap header .loginStatus .logoutbar .moreNavItem ul li a:hover{color:#3d3d3d;background-color:#f6f6f6}.footer-wrap{width:100%;font-size:12px;border-top:1px dashed #ddd;color:#999;background-color:#fff;margin-top:-32px}.footer-wrap footer{width:1000px;height:32px;margin:0 auto;text-align:center;line-height:32px;padding:0 10px}.content-wrap{width:1000px;min-height:100%;margin:-114px auto 0;padding:114px 10px 40px}
/*popover*/
.tooltips-wrap {
    display: inline-block;
    position: absolute;
}
.tooltips-wrap .tooltips {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #d84527;
    position: relative;
    border-radius: 2px;
}
.tooltips-wrap .tooltips ul,
.tooltips-wrap .tooltips li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.tooltips-wrap .tooltips li.tip {
    color: #d84527;
}
.tooltips-wrap .tooltips li.tip.valid {
    color: #072;
}
.tooltips-wrap .tooltips i.arrow {
    position: absolute;
    left: -14px;
    top: 6px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 7px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #d84527 transparent transparent;
}
.tooltips-wrap .tooltips i.arrow.in {
    left: -12px;
    top: 6px;
    border-color: transparent #ffffff transparent transparent;
}
.tooltips-wrap .tooltips.valid {
    border: 1px solid #072;
}
.tooltips-wrap .tooltips.valid i.arrow {
    border-color: transparent #072 transparent transparent;
}
.tooltips-wrap .tooltips.valid i.arrow.in {
    border-color: transparent #ffffff transparent transparent;
}

